<!doctype html>
<html>
  <head>
    <title>My incredible web site.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">An incredible chat private </a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4"><strong>Coming soon</strong>.</h1>
          <p class="lead">It's pretty cool.</p>
          <button type="button" class="btn btn-info" "><a href="/login">login</a></button>
        </div>
      </div>
      <div class="container">
        <p>Welcome on my website</p>
        <p>Look at this stuff!!! Incredible.</p>
      </div>
    </div>
  </body>
</html>